In [1]:
import pandas as pd

In [2]:
file = "housing_data.csv"

In [3]:
df = pd.read_csv(file)
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2012-03-01,2012-03-31,30,state,4,21,f,Georgia,NaN,Georgia,...,0.047223,0.153175,-0.020888,-0.099810,0.256472,0.041179,0.095129,South Region,NaN,2023-04-09 14:55:08
1,2012-09-01,2012-09-30,30,state,4,49,f,Minnesota,NaN,Minnesota,...,0.180810,NaN,NaN,NaN,0.208644,-0.041483,-0.044021,Midwest Region,NaN,2023-04-09 14:55:08
2,2017-01-01,2017-01-31,30,state,4,9,f,California,NaN,California,...,0.001161,0.161723,0.020034,-0.018272,0.366774,0.107579,-0.022199,West Region,NaN,2023-04-09 14:55:08
3,2021-10-01,2021-10-31,30,state,4,41,f,Maine,NaN,Maine,...,-0.080427,0.248588,-0.076884,-0.013095,0.431250,-0.012329,-0.266180,Northeast Region,NaN,2023-04-09 14:55:08
4,2021-01-01,2021-01-31,30,state,4,27,f,Idaho,NaN,Idaho,...,0.132586,0.004310,-0.039168,-0.031404,0.728318,-0.039172,0.237831,West Region,NaN,2023-04-09 14:55:08